:root,
:root.light{
    --bg-color1:#FFFFFF;
    --bg-color2:#F0F0F0;
    --bg-color3:#CCCCCC;
    --bg-color4:#999999;
    --bg-color5:#666666;
}

:root.dark{
    --bg-color1:#333333;
    --bg-color2:#444444;
    --bg-color3:#555555;
    --bg-color4:#666666;
    --bg-color5:#777777;
}

body{
    background-color: var(--bg-color2);
    color: var(--bg-color5);
    transition: background-color 3s ease, color 3s ease;
}
